<nav class="w-100 border-top border-secondary" style="background-color: #111;">
  <div class="container-fluid py-2 d-flex justify-content-around align-items-center">
    <%= link_to mydreams_path do %>
      <i class="fas fa-list fa-2x text-white"></i>
    <% end %>

    <%= link_to root_path do %>
      <div class="rounded-circle shadow" style="background: linear-gradient(145deg, #c45dd9, #8761f7); width: 60px; height: 60px; display: flex; align-items: center; justify-content: center;">
        <i class="fas fa-plus fa-lg text-white"></i>
      </div>
    <% end %>

    <%= link_to profile_path do %>
      <i class="fas fa-cog fa-2x text-white"></i>
    <% end %>
  </div>
</nav>
