<nav class="w-100" style="position: fixed; bottom: 0; left: 0; right: 0; background: transparent; z-index: 10;">
  <div class="container-fluid py-2 d-flex justify-content-center align-items-center gap-5">
    <%= link_to mydreams_path do %>
      <i class="fas fa-list fa-2x text-white"></i>
    <% end %>

    <% unless current_page?(root_path) %>
      <%= link_to root_path, class: "nav-plus-button" do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-cog fa-2x text-white"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fas fa-sign-in-alt fa-2x text-white"></i>
      <% end %>
    <% end %>
  </div>
</nav>
