<h1>Analysis for your dream</h1>

<% if @analysis.present? %>
  <div>
    <h2><%= @analysis.dream.title %></h2>
    <p><%= @analysis.content %></p>
  </div>
<% else %>
  <p>No analysis found for this dream.</p>
<% end %>

<%= link_to 'Back to Dream', dream_path(@analysis.dream), class: 'btn btn-default' %>
