<h1 class="mb-4">Analysis</h1>

<% if @analysis.present? %>
  <div class="container px-3" style="white-space: pre-wrap; color: white;">
    <h2 class="h5 mb-3"><%= @dream.title %></h2>
    <p><%= @analysis.content %></p>
  </div>
<% else %>
  <p>No analysis found for this dream.</p>
<% end %>

<!-- Navbar -->
<%= render "shared/bottom_nav" %>
