<% if @transcription.present? %>
  <div class="container my-5">
    <h2><%= @dream.title %></h2>
    <p><%= @transcription.content %></p>
  </div>

  <div class="d-flex gap-3 justify-content-center my-4">
    <%= link_to 'Next', edit_dream_transcription_path(@dream), class: 'gradient-button' %>
  </div>
<% else %>
  <p>No transcription found for this dream.</p>
<% end %>

<%= render "shared/bottom_nav" %>
