<div class="d-flex flex-column justify-content-between align-items-center min-vh-100 text-white">
  <!-- Logo -->
  <div class="text-center mt-4">
    <h1 class="display-3 fw-bold dreamlog-title">DreamLog</h1>
  </div>

  <!-- Bouton Record : centré avec flex auto -->
  <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center w-100 gap-3">

    <!-- Contrôleur Stimulus pour les enregistrements -->
    <div data-controller="recordings" class="d-flex flex-column align-items-center gap-3">

    <!-- Affichage chrono -->
    <div style="height: 24px">
      <span data-recordings-target="timer" class="d-none">00:00</span>
    </div>

      <!-- Bouton principal d'enregistrement -->
      <button
        data-action="click->recordings#toggle"
        data-recordings-target="button"
        class="record-button btn text-white shadow-lg"
        title="Start recording"
      >
        <i class="fa-solid fa-microphone-lines fa-2x"></i>
      </button>

      <!-- Bouton Play (caché par défaut) -->
      <div style="height: 56px;">
        <button
          data-action="click->recordings#togglePlayback"
          data-recordings-target="playButton"
          class="play-button btn d-none"
          title="Listen to recording"
        >
          <i class="fas fa-play"></i>
        </button>
      </div>

      <!-- Boutons de décision (cachés par défaut) -->
      <div style="height: 56px;">
        <div data-recordings-target="decisionButtons" class="d-flex gap-3 d-none">
          <button
            data-action="click->recordings#discardRecording"
            class="gradient-button btn-outline d-flex justify-content-center align-items-center"
            style="width: 48px; height: 48px;"
            title="Delete"
          >
            <i class="fas fa-trash"></i>
          </button>


        <button
          data-action="click->recordings#saveAndTranscribe"
          class="gradient-button d-flex justify-content-center align-items-center"
          style="width: 48px; height: 48px;"
          title="Save"
        >
          <i class="fas fa-save"></i>
        </button>
      </div>
    </div>

    </div> <!-- Fin du data-controller="recordings" -->

    <!-- Lien vers transcription manuelle -->
    <%= link_to new_dream_path,
    class: "d-none btn text-white shadow-lg",
    style: "width: 200; height: 200; border-radius: 50%; background: linear-gradient(45deg, #E175D3, #731F8A, #A87CDB); display: flex; align-items: center; justify-content: center; font-size: 2rem; border: none;" do %>
      Manual Transcription
    <% end %>
  </div>

  <!-- Navbar -->
  <%= render "shared/bottom_nav" %>
</div>
